<html>

<head>
  <meta charset="utf-8">
  <title>Graph System -- main page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>
  <header>
    <span><a href="/">Welcome to our graph system! </a>
      <a href="/login">
        <%if(!data.name) {%>
          [didn't login in]
          <%} else {%>
            <%=data.name%>
              <%}%>
      </a>
    </span>

  </header>
  <div class="container">
    <h1>Choose where to go!</h1>
    <div class='position_graph'>
      <nav>
        <button class="send"><a href="/send">Graph <i class="fas fa-gamepad"></i></a></button>
      </nav>
    </div>

    <!-- maybe could add comment system in the future -->
    <div class='position_comment'>
      <nav>
        <button class="send"><a href="/comment">share <i class="fas fa-comment-dots"></i></a></button>
      </nav>
    </div>

  </div>
</body>

</html>