<html>
    <head>
        <meta charset="utf-8">
        <title>comment system-login in</title>
        <link rel="stylesheet" href="/stylesheets/login.css">
    </head>
    <body>
        <header>
            <span><a href="/">Welcome to comment system</a></span>
            <span>Login In</span>
            <nav>
                <span class="content"><a href="/register">Register</a></span>
            </nav>
        </header>
        <div class="container">
            <div class="form">
                <label>
                    <!-- username： -->
                    <input type="text" id="username" autocomplete="false" placeholder="请输入用户名...">
                </label>
                <label>
                    <!-- password： -->
                    <input type="password" id="psw" autocomplete="false" placeholder="请输入密码...">
                </label>
                <button class="btn login">login in</button>
            </div>
        </div>

        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/login_register.js"></script>
    </body>
</html>